.post-header {
  margin-bottom: 1em;
}

.post-title {
  margin-bottom: 0px;
  text-decoration: none;
}

.item-list {
  margin-bottom: 20px;
}

.item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: #4582EC;
}

.panel-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  color: #4582EC;
  text-align: center;
}

.panel-precio {
  text-align: center;
	padding: 5px 15px;
}

.item-precio {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: black;
}

.container-watch-description {
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.container-watch-description h2 {
  text-align: center;
  margin-bottom: 0px;
}

.container-watch-description #envio {
  text-align: center;
  margin-bottom: 10px;
}

.container-watch-description button {
  width: 100%
}
