{{ define "main" }}

<div class="home">
    <div class="row pack">
      {{ $paginator := .Paginate (where .Site.RegularPages "Section" "relojes") }}
      {{ range first 9 $paginator.Pages }}
        <div class="col-md-4 card">
          <a href="{{ .Permalink }}" class="index-anchor">
            <div class="panel panel-default">
              {{ if .Params.img }}
                {{ with .Resources.Match .Params.img }}
                {{ range . }}
                  <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}">
                {{ end }}
              {{ end }}
              {{ else }}
                <img width="100%" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
              {{ end }}
              <div class="panel-title">
                <h3 class="item-title">{{ .Title | truncate 25 }}</h3>
              </div>
              <div class="panel-precio">
                {{ if .Params.precio }}
                  <h4 class="item-precio">Precio: ${{ .Params.precio }}</h4>
                {{ end }}
              </div>
              <div class="panel-body">
                <small>{{ .Summary | plainify | truncate 180 }}</small>
              </div>
            </div>
          </a>
        </div>
      {{ end }}
    </div>

    <div class="row">
      <div class="col-md-4">  </div>
      <div class="col-md-4">
        {{partial "pagination.html" .}}
      </div>
    <div class="col-md-4">  </div>
  </div>

  <h2>Artículos Recientes</h2>
  <div class="container">
    {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
      <div class="item-list">
        <div class="row">
          <a href="{{ .Permalink }}" class="index-anchor">
            <h3 class="item-title">{{ .Title }}</h3>
          </a>
        </div>
        <div class="row"><span><small>{{ .Date.Format "Jan 2, 2006" }}</small></span></div>
        <div class="row"><span><small>{{ .Summary | plainify | truncate 180 }}</small></span></div>
      </div>
    {{ end }}
  </div>
  <br>
</div>

{{ end }}
