{{ define "main" }}
<div class="row">

{{ partial "sidebar-route.html" . }}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
            <div class="post-meta">
              <!-- published date -->
              {{ if not .Date.IsZero }}
                <i class="fa fa-calendar"></i> {{ .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") }}
              {{ end }}
              <!-- categories -->
              {{ with .Params.categories }}
                {{ $total := len . }}
                {{ if gt $total 0 }}
                    en
                    {{ $total := sub $total 1 }}
                    {{ range $i, $cat := sort . }}
                        <a class="badge badge-category" href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>
                        {{ if lt $i $total }}•{{ end }}
                    {{ end }}
                {{ end }}
              {{ end }}
              <!-- tags -->
              {{ with .Params.tags }}
                {{ $total := len . }}
                {{ if gt $total 0 }}
                    <br/>
                    {{ $subtotal := sub $total 1 }} <i class="fa fa-tags"></i>
                    {{ range $i, $tag := . }}
                    <a class="badge badge-tag" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>
                    {{ if lt $i $subtotal }} {{ end }}
                {{ end }}
              {{ end }}
              {{ end }}
              <br/>
              {{ with .Params.Author }}
              <i class="fa fa-user"></i><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"> {{ . }}</span></span>
              {{ end }}
            </div>
          </header>
          <div class="post-content" itemprop="articleBody">
            {{ .Content }}
          </div>

    </article>
    <div class="row">
        {{ if .Site.Params.disqus }}
         {{ partial "disqus.html" . }}
        {{ end }}
    </div>

    <div class="row">
            <ul class="pager">
             {{ with .NextPage }}
                    <li><a class="next" href="{{ .Permalink }}">&laquo; {{ .Title }}</a></li>
              {{ end }}
              {{ with .PrevPage }}
                <li><a class="previous" href="{{ .Permalink }}">{{ .Title }} &raquo;</a></li>
              {{ end }}
            </ul>
    </div>
</div>

</div>


{{ partial "fb-script.html" . }}
{{ end }}
