<div class="col-md-6 mt20">

{{ if .Params.galeria }}
  <div id="carousel-watch" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{ range $key, $value := .Params.galeria }}
        <li data-target="#carousel-watch" data-slide-to="{{ $key }}" class="{{ if eq $key 0 }} active {{ end }}"></li>
      {{ end }}
    </ol>

    <div class="carousel-inner" role="listbox">
      {{ range $key, $value := .Params.galeria }}
        <div class="item {{ if eq $key 0 }} active {{ end }}">
          <img width="600" src="{{ $value }}">
        </div>
      {{ end }}
    </div>
  </div>
{{ else }}
  <div class="post-img">
    <img width="600" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="default">
  </div>
{{ end }}

</div>
